name: Update i18n-curriculum Submodule

on:
  repository_dispatch:
    types: [submodule-update]

env:
  GITHUB_TOKEN: ${{ secrets.CROWDIN_CAMPERBOT_PAT }}

jobs:
  update-submodule:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout main repository
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update submodule
        run: |
          git checkout -b chore/update-submodule-branch
          git submodule update --remote
          git add .
          git commit -m "chore(curriculum): Update i18n-curriculum submodule to latest commit"
          git push origin chore/update-submodule-branch

      # - name: Create pull request
      #   uses: peter-evans/create-pull-request@v4
      #   with:
      #     token: ${{ secrets.GITHUB_TOKEN }}
      #     branch: update-submodule-branch
      #     title: "Update submodule"
      #     body: "This PR updates the submodule to the latest commit."
