name: Update i18n-curriculum Submodule

on:
  workflow_dispatch:
  repository_dispatch:
    types: [submodule-update]

env:
  GITHUB_TOKEN: ${{ secrets.CROWDIN_CAMPERBOT_PAT }}

jobs:
  update-submodule:
    name: i18n-curriculum
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: [20.x]
      fail-fast: true

    steps:
      - name: Checkout Source Files
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          token: ${{ secrets.CROWDIN_CAMPERBOT_PAT }}

      - name: Update submodule
        run: |
          git config --global user.email "${{ secrets.ACTIONS_CAMPERBOT_EMAIL }}"
          git config --global user.name "camperbot"
          git checkout -b chore/update-submodule-branch
          git submodule update --remote
          git add .
          git commit -m "chore(curriculum): Update i18n-curriculum submodule to latest commit"
          git push origin chore/update-submodule-branch

      # - name: Create pull request
      #   uses: peter-evans/create-pull-request@v4
      #   with:
      #     token: ${{ secrets.GITHUB_TOKEN }}
      #     branch: update-submodule-branch
      #     title: "Update submodule"
      #     body: "This PR updates the submodule to the latest commit."
